 
  <div id="login">
	<% form_for :user, @user, :url => { :action => "login" } do |f| %>
		
	  <div>	
		  <label class="label1">Username</label>
		  <%= f.text_field :username ,:class => "text1"%>
	  </div>
	  <div>
	  	<label class="label1">Password</label>
		<%= f.password_field :password,:class => "text1" %>
	  </div>
	  <div>
		  <%= submit_tag ('Login',:class => "button") %>
		  <%= flash[:notice]%> <br/>
		  <%=  link_to "SignUp", :controller => "user", :action => "register"  %>
	  </div>
	  
	<% end %>
 </div>
