

<% form_for :user, @user, :url => { :action => "create" } do |f| %>
	
	<div id="register">
			<div style="text-align:left;">
		    	<h3>Sign Up</h3>
		    </div>
			<div>
			    <label class="label1">Username</label>
				<%= f.text_field :username %>
			</div>
			<div>
				 <label class="label1">Password </label>
				 <%= f.password_field :password %>
			</div>
			<div> 
				<label class="label1">Confirm Password :</label>
				<%= f.password_field :password_confirmation %> 
			</div>
			
			<div>
				<%= submit_tag("SignUp") %>
				<%= flash[:notice]%>
			</div>
	</div>
	
<% end %>